body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: rgb(66, 71, 66);
}
li {
  font-weight: bold;
}
form {
  margin-left: 20px;
}
img {
  max-width: 90%;
  max-height: 90%;
  
}

.user-link {
  text-decoration: none !important;
  font-family: Arial;
  color: #E5F8D4 !important;
}
.note-link{
  text-decoration: none !important;
  font-family:  Arial;
  
  color: Black
}
     
.noteHeader{
  background: #193202 ;
  color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}
.notes-card{
  margin-top: 8px;  
}

.registerForm {
  float: left;
  padding: 20px;
  border-radius: 5px;
  border: 2px grey solid;
  margin-left: 25%;
  margin-top: 100px;
  width: 50%;    
}

.login-form { 
  border: 2px solid grey;
  width: 65%;
  margin-left:35%;
  margin-top:100px;
  min-height: 200px; 
  padding: 20px; 
  border-radius: 6px;
}

.header-link-style{
  padding : 15px !important;
  padding-left: 10px !important;
  text-decoration: none !important;
  font-family: Arial !important;
  color: #1B82D3 !important;
  font-weight: 600 !important;
}

.header-style{
  position: sticky;
  min-height: 100px;
  top: 0;
  z-index: 999;
  margin-bottom: 30px;
  background: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.side-box{

  width: 30%;
  min-height: 200px;
  float: right;
  margin-right: 2%;
  margin-top: 20px;
 

}

.sideNotesContainerStyle {
  width:90%;
  margin-top: 20px;
  margin-bottom: 30px;
  background: #fff;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sideNotesRowStyle { 
    
  width: 95%;
  margin-left: 2% !important;
  margin-top: 10px !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  
}

.sideNotesHeader {
  font-size: 12px;
  height: 20px;
  color: #636CB0;
  margin-bottom: 10px;
  text-decoration: none;
  font-family:  Helvetica;
}

.sideNotesHeader:hover{
  color: #0FAA16;

}


.footerStyle {
  display: flex;
  justify-content: space-evenly; 
  height: 150px;
  border-radius: 6px;
  text-align: center;
  padding-top: 30px; 
  padding-bottom: 40px;
  font-size: 13px;
  background: #212221 ;
  text-decoration: none !important;
  font-family: Arial;
  color: #46d35d !important;  
  width: 100%;
  
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  padding-top: 2%;
  margin-bottom: 1%;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  
}

.about-container {
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.notes-container{
  display: flex;
  background: #f2f2f2;
  flex-direction: column;
  width: 60% !important;
  margin-right: 35% !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  
}

.notes-row { 
 background: white;
 margin-top: 20px !important;
 border-radius: 5px !important;
 /*box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px !important; */
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 overflow: hidden !important;
 max-height: 700px !important;
 width: 90% !important;
}


.notes-header {
  height: 30px;
  border-radius: 1px;
  color: #3577B0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.notes-body { 
  opacity: 0.85; 
  text-align: justify;
  width: 100%; 
  margin-left: 4%;  
  font-size: 13px; 
  padding: 15px;
}
.notes-body img{
  width: 100%;
  margin-left: 3%;
}
.notes-body p{
  width: 95%;
}

.notes-footer {
  text-align: center; 
  font-size: 13px;
  margin-right: 10% ;
  margin-top: 8px;
  height: 30px;
  padding: 4px;
  color: #3577B0;
}




@media screen and (max-width: 600px) {
  .side-box{
    width: 60%;
    min-height: 200px;
    margin-right: 20%;
  }
  .notes-container  {
    width: 100% !important;
    margin-left: 10% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    
  }
  .footerStyle {
    justify-content: space-around; 
    flex-wrap: wrap;
    height: 130px;
    padding-top: 20px; 
    font-size: 11px;
    background: #212221 ;
    text-decoration: none !important;
    font-family: Arial;
    color: #46d35d !important;  
    width: 100%;
    
  }
  .header-style {
    position: sticky;
    min-height: 150px;
    top: 0;
    z-index: 999;
    margin-bottom: 30px;
  }
  .registerForm {
    float: left;
    padding: 20px;
    border-radius: 5px;
    border: 2px grey solid;
    margin-left: 10%;
    margin-top: 100px;
    width: 80%;
  }

  .login-form { 
    width: 80%;
    margin-left:10%;
  }

}